.DS_Store

.env
.env.*
*.db
*.sqlite
*.sqlite3
*.ged
*.key
*.pem

__pycache__/
*.pyc
venv/
.venv/
node_modules/
logs/
uploads/
media/
backups/

site/**/*.backup
site/**/*.backup*
site/**/*.save
site/**/*.universe-v1
site/docker-compose.yml.save

site/-in
site/-noout
site/const
